
RewriteEngine on
RewriteCond %{HTTP_HOST} ^greggutshall\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.greggutshall\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/gregorygutshall\.com\/" [R=301,L]

